h1{
    margin: 20px auto;
    width: 30% auto ;
    text-align: center;
    text-shadow: 2px 2px 20px #111;
    font-family:'Courier New', Courier, monospace;
    font-size: 45px;
    color:black;
}

.info {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}

.infoBox {
  position: relative;
  height: 50px;
  margin-left: 50px auto; /*-- try it --*/
  padding: 0px;
  top: 0px;
  text-align: center;
  }

.mapBox {
  border-radius: 100px;
  display: block;
  margin: auto;
  text-align: center;
}

.stateBox {
  max-width: 100%;
  height:auto;
}

.card {
  background-color: lightskyblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  margin: 100% auto;
  width: auto;
  height: 50% auto;
  margin: 10px auto;
}


#holder {
  height: auto;
  width: 50% auto;
  border: 2px solid black;
  float:left;
  background-color: white;
}

#column {
  padding: 5% auto;
  float: left;
  width: 50%;
  text-align: center;
}

#row::after {
  display: flex;
}

.title {
  background-color:lightblue;
  border-radius: 20px;
  font-size: 200%;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  height: 30%;
  width: 30% auto;
  border: 2px solid black;
  float:center;
}

.author {
  font-weight: bold;
  padding-top: 0%;
}

.description {
  font-size: 150%;
  font-family: 'Times New Roman', Times, serif;
}

.URL {
  color: blue;
}

svg path {
  fill: #81AC8B;
  stroke: #eee;
  stroke-width: .25;
}

svg path:hover {
  fill: #425957;
  transition: 0.6s;
  cursor: pointer;

}

#nav {
  list-style: none;
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  background-color: #000000;
  height:38px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.dark-mode {
  background-color: maroon;
  color:white
}

canvas {
    border: 7px solid #425957;
}

#highScore {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  margin: 20px auto;
  width: 15% ;
  height: 25% auto;
  margin: 10px auto;
}